$background: #0a0a0a;
$forenground: #ffffff;
$muted: #646464;
$primary: #141414;
$secondary: #202020;
$ultra-dark: #010101;

$green: #144d24;
$orange: #723401;
$red: #7c1512;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-xl: 1.125rem;

$rounded-base: 0.75rem;
$rounded-full: 999rem;

$padding-layout: 1rem;
