.badge {
  border-radius: $rounded-full;
  padding: 0.3rem 1rem;
  font-size: $text-sm;
  font-weight: 600;
}

.green {
  background-color: $green;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}
